@import "_variable";
@import "_container";

.about-us {
  width: 100%;
  text-align: center;
  padding: 100px 0;
  color: @color-grey;
  background-color: @color-light-grey;
  .container;

  p {
    margin: auto 40px;
  }

  .about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    margin: 0 10px;

    .about-content-item {
      margin: 20px;
      text-align: justify;
    }
  }

  .about-media-content {
    display: flex;
    position: relative;
    justify-content: center;

    .slider-wrapper {
      display: block ruby;
      margin-top: 20px;

      .about-items {
        padding: 0 20px;
        box-sizing: border-box;

        img {
          max-width: 100%;
          height: auto;
          position: relative;
          transition: opacity .2s linear;
        }

        .container-social-icons {
          display: grid;
          justify-items: center;

          .social-icons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            opacity: 0;
            transition: all .1s linear;
            bottom: 0;
            margin-bottom: 100px;

            a {
              background-image: url(../images/about/icons_2.png);
              background-repeat: no-repeat;
              height: 25px;
              width: 25px;
              transition: all 350ms ease-out;
              -webkit-transition: all 350ms ease-out;
              -o-transition: all 350ms ease-out;
            }

            .facebook-icon {
              background-position: 8px 4px;

              &:hover {
                background-color: @color-background-icon;
              }
            }

            .twitter-icon {
              background-position: -22px 4px;

              &:hover {
                background-color: @color-background-icon;
              }
            }

            .google-icon {
              background-position: -52px 4px;

              &:hover {
                background-color: @color-background-icon;
              }
            }

            .linkedin-icon {
              background-position: -85px 4px;

              &:hover {
                background-color: @color-background-icon;
              }
            }
          }
        }

        &:hover {
          img {
            filter: brightness(60%);
          }

          .social-icons {
            opacity: 1;
          }
        }

        .about-name {
          font-family: @font-montserrat;
          font-size: 14px;
          text-transform: uppercase;
          margin: 20px 0 15px 0;
        }

        .about-status {
          font-family: @font-roboto-slab;
          margin: 0;
          font-size: 13px;
        }
      }
    }

    .arrows {
      width: 100%;
      top: 33%;
      height: 38px;
      padding: 0 20px;
      display: flex;
      position: absolute;
      justify-content: space-between;
      box-sizing: border-box;

      .arrow-left {
        cursor: pointer;
        width: 35px;
        background-image: url(../images/arrows.png);
        background-color: @color-grey;
        background-repeat: no-repeat;
        background-position: 12px 13px;

        &:hover {
          background-color: @color-background-icon;
        }
      }

      .arrow-right {
        cursor: pointer;
        width: 35px;
        background-image: url(../images/arrows.png);
        background-color: @color-grey;
        background-repeat: no-repeat;
        background-position: -15px 13px;

        &:hover {
          background-color: @color-background-icon;
        }
      }
    }
  }
}