@import "_variable";
@import "_container";

.brands {
  .container;
  font-family: @font-roboto-slab;
  font-weight: normal;
  text-align: center;
  color: @color-grey;
  padding: 100px 0;
  background-color: @color-light-grey;

  .brands-container {
    position: relative;
    justify-content: center;
    overflow: hidden;

    .brands-logos {
      height: 50px;
      display: flex;
      justify-content: space-around;
      position: absolute;

      .b-logo {
        box-sizing: border-box;
      }

      #b-logo1 {
        width: 150px;
        background: url(../images/emblems/logo1.jpg) no-repeat center;

        &:hover {
          background: url(../images/emblems/logo-1.png) no-repeat center;
        }
      }

      #b-logo2 {
        width: 150px;
        background: url(../images/emblems/logo2.jpg) no-repeat center;

        &:hover {
          background: url(../images/emblems/logo-2.png) no-repeat center;
        }
      }

      #b-logo3 {
        width: 150px;
        background: url(../images/emblems/logo3.jpg) no-repeat center;

        &:hover {
          background: url(../images/emblems/logo-3.png) no-repeat center;
        }
      }

      #b-logo4 {
        width: 150px;
        background: url(../images/emblems/logo4.jpg) no-repeat center;

        &:hover {
          background: url(../images/emblems/logo-4.jpg) no-repeat center;
        }
      }

      #b-logo5 {
        width: 150px;
        background: url(../images/emblems/logo5.jpg) no-repeat center;

        &:hover {
          background: url(../images/emblems/logo-5.jpg) no-repeat center;
        }
      }
    }

    .brands-text {
      margin-top: 50px;

      .b-text {
        font-size: 18px;
        font-style: italic;
        padding: 40px 150px 0;
      }

      .b-bottom-text {
        font-size: 20px;
      }
    }

    .indicators {
      cursor: pointer;
      display: flex;
      height: 13px;
      justify-content: center;
      margin-top: 50px;

      .indicator {
        height: 13px;
        width: 13px;
        border-radius: 50%;
        margin: 0 5px;
        background: @color-border-icon;
      }

      .active-indicator {
        background: @color-background-icon;
        cursor: default;
      }
    }
  }
}

