@media screen and (max-width: 600px) {
  .service-content {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-content {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-items-2,
  .about-items-3,
  .about-items-4 {
    display: none;
  }

  .latest-works {
    .lw-content-row {
      .lw-content-column {
        flex: 100%;
        max-width: 100%;

        .lw-item {
          .lw-cover {
            .lw-cover-content {
              .lw-top-text {
                font-size: 9px;
              }

              .lw-middle-text {
                margin: 5px auto 20px;
                font-size: 6px;
              }

              .lw-text-button {
                font-size: 7px;
                padding: 7px 10px;
              }
            }
          }
        }
      }
    }
  }

  .recent-blog-posts {
    img {
      display: none;
    }
  }

  .contacts {
    h3 {
      padding: 0 30px;
    }

    .contacts-content {
      padding: 0 10px;
      display: grid;

      .contacts-address {
        padding: 0 20px;
        display: grid;
        width: 100%;
      }

      .contacts-form {
        width: 100%;

        #form-group-1 .form-control {
          width: 100%;
        }

        #form-group-2 .form-control {
          width: 100%;
        }

        #form-group-4 {
          display: grid;
          justify-content: start;

          p {
            padding-left: 5px;
          }
        }
      }
    }
  }

  footer {
    font-size: 10px;
    padding: 100px 0 10px;
  }
}

@media screen and (max-width: 800px) {
  .service-content {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-items-2, .about-items-3 {
    display: none;
  }

  .latest-works {
    .lw-content-row {
      .lw-content-column {
        flex: 40%;
        max-width: 40%;

        .lw-item {
          .lw-cover {
            .lw-cover-content {
              .lw-top-text {
                font-size: 12px;
              }

              .lw-middle-text {
                margin: 8px auto 30px;
                font-size: 10px;
              }

              .lw-text-button {
                font-size: 10px;
                padding: 10px 15px;
              }
            }
          }
        }
      }
    }
  }

  .recent-blog-posts {
    img {
      display: none;
    }
  }

  .contacts {
    .contacts-content {
      padding: 0 20px;
      display: grid;

      .contacts-address {
        display: grid;
        width: 100%;
      }

      .contacts-form {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .about-us {
    .about-items-4 {
      display: none;
    }
  }
}