@media screen and (max-width: 600px) {
  .service-content {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-content {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-items-2,
  .about-items-3,
  .about-items-4 {
    display: none;
  }
}

@media screen and (max-width: 786px) {
  .service-content {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-items-2, .about-items-3 {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .about-us {
    .about-items-4 {
      display: none;
    }
  }
}