@media screen and (max-width: 600px) {
    nav {
        visibility: hidden;
    }

    .service-content {
        flex-wrap: wrap;
        justify-content: center;
    }

    #form-group-1 .form-control {
        width: 50%;
    }

    #form-group-2 .form-control {
        width: 66.6666%;
    }
}