@font-montserrat: 'Montserrat', sans-serif;
@font-roboto-slab: 'Roboto-SLab', sans-serif;

@color-grey: #555;
@color-light-grey: #f8f8f8;
@color-background-icon: #c0301c;
@color-border-icon: #ddd;

@margin-arrows-about: 26px;

body {
  margin: 0 0;

  .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  a.button {
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid white;
    padding: 18px 35px;
    color: white;
  }

  .section-title {
    font-family: @font-montserrat;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;

    &:after {
      content: "";
      display: block;
      width: 50px;
      height: 2px;
      margin: 30px auto;
      background-color: @color-grey;
    }
  }

  .section-subtitle {
    font-family: @font-roboto-slab;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 50px;
  }

  .section-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  header {
    font-family: @font-montserrat;
    background: url('../images/bg.jpg') center no-repeat;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-size: cover;
    align-items: center;

    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 40px;
      .container;

      > a {
        color: white;
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
      }

      .logo:hover {
        opacity: .7;
      }

      menu {
        list-style: none;
        display: flex;

        li {
          padding-left: 20px;

          a {
            font-size: 14px;
            color: white;
            text-decoration: none;
          }
        }
      }
    }

    .intro {
      text-align: center;
      margin: auto;

      h1 {
        text-transform: uppercase;
        font-size: 48px;
        color: white;
      }

      p {
        color: white;
        font-size: 20px;
        padding-bottom: 50px;
      }
    }
  }

  .section-service {
    text-align: center;
    padding: 100px 0;
    background: white;
    color: @color-grey;
    .container;

    .service-content {
      .container;
      display: flex;
      justify-content: space-between;

      .service-items {
        h3 {
          font-family: @font-montserrat;
          font-size: 14px;
          font-weight: normal;
          text-transform: uppercase;
        }

        p {
          font-size: 14px;
          margin: 0 10px;
          padding-top: 24px;
        }

        .service-icons {
          a {
            display: inline-block;
            border-radius: 50%;
            border: solid 2px @color-border-icon;
            height: 90px;
            width: 90px;
            margin: 70px 0 30px;

            background-image: url('../images/icons.png');
            background-repeat: no-repeat;
          }

          .service-icon-first {
            background-position: 23px 16px;
          }

          .service-icon-second {
            background-position: -91px 20px;
          }

          .service-icon-third {
            background-position: -208px 20px;
          }
        }

        &:hover {
          .service-icon-first {
            background-color: @color-background-icon;
            background-position: 23px -90px;
          }

          .service-icon-second {
            background-color: @color-background-icon;
            background-position: -91px -87px;
          }

          .service-icon-third {
            background-color: @color-background-icon;
            background-position: -207px -87px;
          }
        }
      }
    }
  }

  .section-about {
    width: 100%;
    text-align: center;
    padding: 100px 0;
    color: @color-grey;
    background-color: @color-light-grey;
    .container;

    .about-content {
      .section-content;
      column-gap: 40px;

      article {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          padding: 0 20px;
          text-align: left;
        }
      }
    }

    .about-media-content {
      padding: 0 10px;
      position: relative;
      .section-content;

      .about-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 70px;

        img {
          position: relative;
          transition: opacity .2s linear;
        }

        .social-icons {
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: absolute;
          opacity: 0;
          transition: all .1s linear;
          bottom: 0;
          margin-bottom: 100px;

          a {
            background-image: url(../images/about/icons_2.png);
            background-repeat: no-repeat;
            height: 25px;
            width: 25px;
            transition: all 350ms ease-out;
            -webkit-transition: all 350ms ease-out;
            -o-transition: all 350ms ease-out;
          }

          .facebook-icon {
            background-position: 8px 4px;

            &:hover {
              background-color: @color-background-icon;
            }
          }

          .twitter-icon {
            background-position: -22px 4px;

            &:hover {
              background-color: @color-background-icon;
            }
          }

          .google-icon {
            background-position: -52px 4px;

            &:hover {
              background-color: @color-background-icon;
            }
          }

          .linkedin-icon {
            background-position: -85px 4px;

            &:hover {
              background-color: @color-background-icon;
            }
          }
        }

        &:hover {
          img {
            filter: brightness(60%);
          }

          .social-icons {
            opacity: 1;
          }
        }

        .about-name {
          font-family: @font-montserrat;
          font-size: 14px;
          text-transform: uppercase;
          margin: 20px 0 15px 0;
        }

        .about-status {
          font-family: @font-roboto-slab;
          margin: 0;
          font-size: 13px;
        }
      }

      .arrows {
        display: inline-block;
        width: 35px;
        height: 38px;
        z-index: 20;
        position: absolute;
        background-image: url(../images/arrows.png);
        background-color: @color-grey;
        background-repeat: no-repeat;

        &:hover {
          background-color: @color-background-icon;
        }
      }

      .arrow-left {
        margin-left: @margin-arrows-about;
        left: 0;
        background-position: 12px 13px;
      }

      .arrow-right {
        margin-right: @margin-arrows-about;
        right: 0;
        background-position: -15px 13px;
      }
    }
  }

  .latest-works {
    .container;
    text-align: center;
    padding: 100px 0;

    nav {
      font-family: @font-roboto-slab;

      menu {
        list-style: none;
        display: flex;
        justify-content: center;

        li {
          padding-left: 20px;

          a {
            font-size: 16px;
            color: @color-grey;
            text-decoration: none;
          }

          .first-menu {
            color: @color-background-icon;
          }
        }
      }
    }

    .lw-content {
      padding: 30px 20px 0;
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-gap: 30px;

      .lw-item {
        width: 360px;
        height: 320px;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;

        .lw-img {
          width: 360px;
          height: 320px;;
          background: @color-background-icon;
        }

        &:hover {
          img {
            opacity: .5;
            transition: opacity .2s linear;
          }

          .lw-text {
            opacity: 1;
          }
        }

        .lw-text {
          color: white;
          display: inline-block;
          position: absolute;
          opacity: 0;

          .lw-top-text {
            font-family: @font-montserrat;
            font-size: 18px;
          }

          .lw-middle-text {
            margin: 10px auto 40px;
            font-family: @font-roboto-slab;
            font-size: 12px;
          }

          .lw-text-button {
            font-family: @font-roboto-slab;
            font-size: 14px;
            text-transform: uppercase;
            text-decoration: none;
            border: 0 solid;
            padding: 15px 20px;
            color: @color-background-icon;
            background-color: white;
          }
        }
      }
    }
  }

  .banner-get-in-touch {
    .container;
    position: relative;
    background: url('../images/bg_2.jpg') center no-repeat;
    background-size: cover;
    width: 100%;

    .gt-content {
      padding: 100px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    .gt-title {
      font-weight: normal;
      font-family: @font-roboto-slab;
      font-size: 30px;
      margin: 5px auto;
      color: white;
    }

    .gt-button {
      font-family: @font-roboto-slab;
      font-size: 18px;
      text-transform: uppercase;
      text-decoration: none;
      border: 2px solid white;
      margin-top: 50px;
      padding: 18px 27px;
      color: white;
    }
  }

  .recent-blog-posts {
    .container;
    padding: 100px 0;
    text-align: center;
    color: @color-grey;

    .rbp-content {

      .rbp-item {
        display: flex;
        padding-bottom: 40px;

        .rbp-text-content {
          padding: 40px;
          display: grid;
          justify-items: start;
          text-align: left;

          .rbp-top-content {
            display: flex;

            .rbp-date {
              display: block;
              font-family: @font-montserrat;
              font-weight: bold;
              border: solid 2px @color-grey;
              padding: 20px 22px;
              margin: 0 10px 10px 0;

              .rbp-date-day {
                font-size: 24px;
              }

              .rbp-date-month {
                font-size: 14px;
              }
            }

            .rbp-titles {
              margin-left: 26px;

              h3 {

                font-family: @font-montserrat;
                font-weight: normal;
                font-size: 16px;
              }

              h4 {
                font-family: @font-roboto-slab;
                font-weight: normal;
                font-size: 13px;
                font-style: italic;
              }
            }
          }

          p {
            font-family: @font-roboto-slab;
            font-size: 14px;
          }

          a {
            font-family: @font-roboto-slab;
            font-weight: bold;
            font-size: 13px;
            text-decoration: none;
            color: #777;
          }
        }

        &:hover {
          h3, a, .rbp-author, .rbp-group {
            color: @color-background-icon;
          }
        }
      }
    }
  }

  .media {
    .container;
    height: 500px;
    background-color: @color-light-grey;
  }

  .contacts {
    .container;
    color: @color-grey;
    text-align: center;
    padding: 100px 0;

    .contacts-content {
      padding: 0 100px;
      display: flex;
      justify-content: start;

      .contacts-address {
        width: 250px;

        span {
          white-space: nowrap;
        }

        .contacts-text-content {
          padding: 0 0 10px 30px;
          text-align: left;
        }

        h4 {
          font-family: @font-montserrat;
          font-size: 14px;
          font-weight: normal;
          text-transform: uppercase;
          margin: 0;
        }

        p {
          font-family: @font-roboto-slab;
          font-size: 12px;
          line-height: 20px;
        }

        .contacts-icons {
          width: 20px;
          height: 20px;
          background-image: url(../images/contacts/icons_4.png);
          background-repeat: no-repeat;
          position: absolute;
        }

        .icon-address {
          .contacts-icons;
          background-position: 1px 0;
        }

        .icon-hotline {
          .contacts-icons;
          background-position: 1px -30px;
        }

        .icon-email {
          .contacts-icons;
          background-position: 1px -58px;
        }
      }
    }

    .contacts-form {
      .form-group {
        float: left;
        width: 100%;
      }

      .form-control {
        padding: 3px;
        box-sizing: border-box;
        float: left;
      }

      .form-control input,
      .form-control textarea {
        box-sizing: border-box;
        width: 100%;
      }

      .form-control textarea {
        resize: vertical;
      }

      #form-group-1 .form-control {
        width: 50%;
      }

      #form-group-2 .form-control {
        width: 50%;
      }

      #form-group-3 .form-control {
        width: 100%;
      }

      input[type=text], textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 0;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;

        &:focus {
          border-color: @color-background-icon;
        }

        input[type=submit] {
          background-color: white;
          color: @color-grey;
          padding: 12px 20px;
          border: solid 1px @color-grey;
          cursor: pointer;
        }

        input[type=submit]:hover {
          color: white;
          background-color: @color-background-icon;
        }
      }
    }
  }

  footer {
    .container;
    height: 300px;
    background-color: @color-background-icon;
  }
}
