@font-montserrat: 'Montserrat', sans-serif;
@font-roboto-slab: 'Roboto-SLab', sans-serif;
@color-grey: #555;
@color-light-grey: #f8f8f8;
@color-background-icon: #c0301c;
@color-border-icon: #ddd;

body {
  .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  a.button {
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid white;
    padding: 18px 35px;
    color: white;
  }

  .section-title {
    font-family: @font-montserrat;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;

    &:after {
      content: "";
      display: block;
      width: 50px;
      height: 2px;
      margin: 30px auto;
      background-color: @color-grey;
    }
  }

  .section-subtitle {
    font-family: @font-roboto-slab;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 50px;
  }

  .section-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  header {
    font-family: @font-montserrat;
    background: url('../images/bg.jpg') center no-repeat;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-size: cover;
    align-items: center;

    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 40px;
      .container;

      > a {
        color: white;
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
      }

      .logo:hover {
        opacity: .7;
      }

      menu {
        list-style: none;
        display: flex;

        li {
          padding-left: 20px;

          a {
            font-size: 14px;
            color: white;
            text-decoration: none;
          }
        }
      }
    }

    .intro {
      text-align: center;
      margin: auto;

      h1 {
        text-transform: uppercase;
        font-size: 48px;
        color: white;
      }

      p {
        color: white;
        font-size: 20px;
        padding-bottom: 50px;
      }
    }
  }

  .section-service {
    text-align: center;
    padding: 100px 0;
    background: white;
    color: @color-grey;
    .container;

    .service-content {
      .container;
      display: flex;
      justify-content: space-between;

      h3 {
        font-family: @font-montserrat;
        font-size: 14px;
        font-weight: normal;
        text-transform: uppercase;
      }

      p {
        font-size: 14px;
        margin: 0 10px;
        padding-top: 24px;
      }

      .icons-service {
        border-radius: 50%;
        border: solid 2px @color-border-icon;
        height: 90px;
        width: 90px;
        margin: 70px 0 30px;
      }

      .sprite {
        position: relative;

        &:before {
          position: absolute;
          content: '';
          height: 44px;
          width: 46px;
          top: 0;
        }

        .icons-service-first::before {
          background: url('../images/icons.png') no-repeat 0 0;
        }
      }

      //.icons-service-first {
      //
      //  &:before {
      //
      //  }

      //&:hover {
      //  background: @color-background-icon url('../images/icons.png') 0 -110px;
      //}
      //}

      .icons-service-second {
        background: url('../images/icons.png') -110px 0;

        &:hover {
          background: @color-background-icon url('../images/icons.png') -110px -110px;
        }
      }

      .icons-service-third {
        background: url('../images/icons.png') -229px 0;

        &:hover {
          background: @color-background-icon url('../images/icons.png') -229px -110px;
        }
      }
    }
  }

  .section-about {
    width: 100%;
    text-align: center;
    padding: 100px 0;
    color: @color-grey;
    background-color: @color-light-grey;
    .container;

    .about-content {
      margin: auto 10px;
      .section-content;

      p {
        text-align: left;
      }

      .about-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 70px;

        img {
          display: block;
          transition: opacity .1s linear;
        }

        img:hover {
          //filter: brightness(40%);
          opacity: .6;
        }

        .about-name {
          font-family: @font-montserrat;
          font-size: 14px;
          text-transform: uppercase;
          margin: 20px 0 15px 0;
        }

        .about-status {
          font-family: @font-roboto-slab;
          margin: 0;
          font-size: 13px;
        }
      }
    }
  }
}
